body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d1cecc;
    font-family: 'Short Stack', cursive;
}
header{
    background-color: #918c88;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.titulo{
    text-align: center;
}
.seleccion{
    cursor: pointer;
    margin: 1rem auto;
}
.elegidos{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.reseteos{
    display: flex;
    justify-content: space-around;
}
.empezar_batalla{
    padding: 5rem;
    text-align: center;
}